.App {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}
label {
  font-size: 15px;
}
.controls {
  width: 20vw;
}
.box {
  text-align: center;
  padding: 180px 0px;
  width: 400px;
  height: 400px;
  background-color: dodgerblue;
  color: white;
}
